<div class="fixed top-5 right-4 z-50 flex flex-col gap-3">
  @for (toast of toasts(); track toast.id) {
    <div
      class="min-w-80 shadow-xl border-l-4"
      [class.border-green-500]="toast.type === 'success'"
      [class.border-red-500]="toast.type === 'error'"
      [class.border-blue-500]="toast.type === 'info'"
      [class.border-yellow-500]="toast.type === 'warning'"
    >
      <div
        class="flex items-center justify-between gap-4 rounded-xl bg-white px-4 shadow-lg ring-1 ring-black/5"
      >
        <!--  -->
        <div class="flex items-center gap-3">
          <mat-icon>
            {{
              toast.type === 'success'
                ? 'check_circle'
                : toast.type === 'error'
                  ? 'error'
                  : toast.type === 'warning'
                    ? 'warning'
                    : 'info'
            }}
          </mat-icon>

          <span class="flex-1">
            {{ toast.message }}
          </span>
        </div>

        <button mat-icon-button (click)="removeToast(toast.id)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
