<section class="w-full overflow-x-auto rounded-lg border border-gray-200 bg-white">
  <table mat-table [dataSource]="dataSource()" class="min-w-160 w-full text-sm md:text-base">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>

      <td mat-cell *matCellDef="let row; let i = index">
        {{ i + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>

      <td mat-cell *matCellDef="let row">
        <app-delete-item-action
          [item]="row"
          (deleteItem)="onRowSelect({ row, action: 'delete' })"
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="keyColumns()"></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: keyColumns()"
      class="cursor-pointer"
      (click)="onRowSelect({ row, action: 'show' })"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="keyColumns().length">No data available.</td>
    </tr>
  </table>
</section>
