# APP SETTINGS
NODE_ENV=development
PORT=3301


# CORS ALLOWED ORIGINS
FRONTEND_ORIGIN=http://localhost:4200,http://127.0.0.1:4200



# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/teaching_docs?schema=public"
